th{
    background-color: darkolivegreen;
    text-align: center;
    border-style: solid;
    border-color: black;
    

}
th td{
    padding: 5%;
    margin: 0%;
    
}
td{
    text-align: justify;
    border-style: dotted;
    border-color: black;
}